$thumbImageBorderRadius: 16px 16px 0 0;

$color-blue: #84dfe2;
$mainContainerPaddingTop: 100px;
$mainContainerPaddingBottom: 40px;
$headerLogoMarginTop: -46px;
$headerLogoWidth: 267px;

//@import "image-cycler";
//@import "preloader";

@font-face { font-family: NokiaFC; src: url(../fonts/nokiafc22.ttf); }

html, body {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll !important;  // Make scrollbar always visible.
}

body {
  position: relative;
  font-family: NokiaFC, serif;
  font-size: 14px;
  font-smooth: never;
  -webkit-font-smoothing: none;
  background-image: url(../images/background0.png);
  overflow-x: hidden;

  // Nearest-neighbor filtering
  image-rendering: pixelated;
}

a {
  color: #587e80;
}

.smooth-render {
  image-rendering: auto;
}

.shadow-down-2px {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  box-shadow: 0 2px 0 0 #00000033;
}

.header-pane {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 50px;
  text-align: center;
  z-index: 100;

  border-style: solid;
  border-width: 0 0 2px;
  border-image: url(../images/header-bg.png) 0 0 2 fill stretch;

  box-shadow: 0 4px 0 0 #00000010;
}
.header-logo {
  margin-top: $headerLogoMarginTop;
  width: $headerLogoWidth;
}

.main-container {
  padding: $mainContainerPaddingTop 0 40px 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  border-style: solid;
  border-width: 0 4px;
  border-image: url(../images/general-pane-bg.png) 0 4 fill repeat;

  &:before {
    content: "";
    position:absolute;
    width: 100%;
    height: 100%;
    margin-top: -$mainContainerPaddingTop;
    background-image: url(../images/content-background1.png);
  }

  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }

  .ground-pile.left {
    content: "";
    background-image: url(../images/grounding0-left.png);
    position: absolute;
    width: 232px;
    height: 120px;
    bottom: 0;
    left: -2px;
  }
  .ground-pile.right {
    content: "";
    background-image: url(../images/grounding0-right.png);
    position: absolute;
    width: 220px;
    height: 122px;
    bottom: 0;
    right: -4px;
  }
}

.about-pane {
  position: relative;
  margin: auto auto 64px;
  max-width: 480px;

  border-style: solid;
  border-width: 64px 64px 68px 64px;
  border-image: url(../images/paper-pane.png) 64 64 68 64 fill stretch;

  div {
    margin: -24px;
    margin-top: -36px;
    margin-bottom: -40px;
    text-shadow: 0 2px rgba(0,0,0,0.05);

    p {
      color: #755542;
    }
  }
}

.section-title-bg {
  position: relative;
  margin: 0 -14px 40px -14px;
  height: 20px;

  border-style: solid;
  border-width: 3px 70px 53px 56px;
  border-image: url(../images/section-title.png) 3 70 53 56 fill stretch;

  .section-title-text {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 14px;
    text-align: center;
    text-shadow: 0 2px rgba(20%, 20%, 20%, 0.1);
    font-size: 24px;
    color: #826351;
  }

  .section-badge {
    position: absolute;
    top: 0;
    margin-top: -9px;
    margin-left: 0;

    @media (max-width: 600px) {
      margin-left: -36px;
    }
  }
}

.feature-section {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  justify-content: center;
}
.feature-item {
  display: inline-block;
  position: relative;
  //width: 303px;
  text-shadow: 0 2px rgba(0,0,0,0.1);
  text-align: center;

  margin: 0 16px 48px ;
  z-index: 1;
}
.feature-frame {
  width: 330px;
  box-sizing: border-box;
  z-index: 100;

  border-style: solid;
  border-width: 20px 16px 18px 16px;
  border-image: url(../images/feature-frame0.png) 20 16 18 16 fill repeat;
}
.thumb-image-container {
  $thumbWidth: 310px;
  $thumbHeight: 190px;

  position: relative;
  display: block;
  width: $thumbWidth;
  height: $thumbHeight;
  margin: 0 auto -10px auto;

  .thumb-image-dim {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #472f1f;
    opacity: 0.5;
    z-index: 3;

    border-radius: $thumbImageBorderRadius;

    box-shadow: 0 0 0 2px #333333a0;
  }

  .thumb-image {
    border-radius: $thumbImageBorderRadius;
  }

  .thumb-icon {
    $size: 140px;

    position: absolute;
    width: $size;
    height: $size;
    margin-left: -$size / 2;
    left: 50%;
    top: $thumbHeight / 2 - $size / 2;
    z-index: 10;

    box-shadow: 0 $size * 0.05 0 0 #00000026;

    border-radius: 50%;

    &.square {
      border-radius: 10%;
    }
  }
}
.thumb-title {
  color: #587e80;
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 8px;
}
.thumb-subtitle {
  color: #627180;
  font-size: 24px;
  margin-top: -8px;
  margin-bottom: 6px;
}
.thumb-desc {
  max-width: 300px;
  padding: 0 8px;
  color: #a3816d;
  font-size: 16px;
  text-shadow: 0 2px rgba(0,0,0,0.07);
  margin-top: 4px;
  margin-bottom: 20px;
}
.thumb-links-pane {
  display: block;
  text-shadow: none;
  background-color: #e3c2a3;
  margin: 0 -2px 2px;
  padding-top: 8px;
  padding-bottom: 4px;

  box-shadow: 0 -2px 0 0 #d7b098;
}
.thumb-available-text {
  color: #826351;
  font-size: 18px;
  margin-bottom: 2px;
  margin-top: 4px;
}
.thumb-release-date-text {
  color: #a3816d;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 2px;
}
.btn-app-link {
  margin: 0 4px;
  float: left;
  background-size: 100% 100%;
  width: 52px;
  height: 52px;
  display: inline;

  &.disabled {
    pointer-events: none;
    cursor: default;
  }

  &.appstore {
    background-image: url(../images/btn-thumb-ios-up.png);
    &:active, &:hover {
      background-image: url(../images/btn-thumb-ios-down.png);
    }
    &.disabled {
      background-image: url(../images/btn-thumb-ios-disabled.png);
    }
  }
  &.android {
    background-image: url(../images/btn-thumb-android-up.png);
    &:active, &:hover {
      background-image: url(../images/btn-thumb-android-down.png);
    }
    &.disabled {
      background-image: url(../images/btn-thumb-android-disabled.png);
    }
  }
  &.web {
    background-image: url(../images/btn-thumb-web-up.png);
    &:active, &:hover {
      background-image: url(../images/btn-thumb-web-down.png);
    }
  }
  &.github {
    background-image: url(../images/btn-thumb-gh-up.png);
    &:active, &:hover {
      background-image: url(../images/btn-thumb-gh-down.png);
    }
  }
}
.soon-badge {
  width: 100%;
  margin-top: 34px;
}

.face-holder {
  width: 100%;
  display: inline-block;
  margin-bottom: -40px;
  text-align: center;

  div {
    position: relative;
    width: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;

    .face {
      position: absolute;
      cursor: help;
      bottom: -$mainContainerPaddingBottom;
      outline : none;
      transition: margin-bottom 0.15s, transform 0.35s;

      &.miha {
        right: -1px;
      }
      &.antoha {
        left: -1px;
      }
      &:active {
        margin-bottom: 24px;
        transform: scale(1.2);
        z-index: 2;
      }
      @media(min-width:768px) {
        &:hover {
          margin-bottom: 24px;
          transform: scale(1.2);
          z-index: 2;
        }
      }
    }
  }
}

.footer-pane {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: $color-blue;
  padding: 16px 0;
  border-top: 2px solid rgb(179,242,237);
  z-index: 100;
  color: white;

  .credits-text {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.btn-social-link {
  margin: 0 4px;
  background-size: 100% 100%;
  width: 48px;
  height: 48px;
  float: left;

  &.twit {
    background-image: url(../images/btn-social-twit-up.png);
    &:active, &:hover {
      background-image: url(../images/btn-social-twit-down.png);
    }
  }
  &.fb {
    background-image: url(../images/btn-social-fb-up.png);
    &:active, &:hover {
      background-image: url(../images/btn-social-fb-down.png);
    }
  }
  &.vk {
    background-image: url(../images/btn-social-vk-up.png);
    &:active, &:hover {
      background-image: url(../images/btn-social-vk-down.png);
    }
  }
  &.mail {
    background-image: url(../images/btn-social-mail-up.png);
    &:active, &:hover {
      background-image: url(../images/btn-social-mail-down.png);
    }
  }
}